.carousel-inner{
    max-height: 660px;
}

.verde{
    color: $verde;
    position: absolute;
    margin: 20px;
    font-size: 30px;
}

.beige{
    color: $beige;
    position: absolute;
    margin: 20px;
    font-size: 30px;
}