.carousel-inner{
    max-height: 660px;
}

.verde{
    color: #637854;
    position: absolute;
    margin: 20px;
    font-size: 30px;
}

.beige{
    color: #FFFEBE;
    position: absolute;
    margin: 20px;
    font-size: 30px;
}