.carousel-inner {
  max-height: 660px;
}

.verde {
  color: #637854;
  position: absolute;
  margin: 20px;
  font-size: 30px;
}

.beige {
  color: #FFFEBE;
  position: absolute;
  margin: 20px;
  font-size: 30px;
}

i {
  color: black;
  width: 60px;
  opacity: 0.7;
}
i:hover {
  opacity: 1;
}

footer {
  height: 150px;
}

footer div p {
  text-align: center;
}

@media (min-width: 768px) {
  .parrafo {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .parrafo {
    font-size: 25px;
  }
}